@import url("https://fonts.googleapis.com/css2?family=Allura&family=Parisienne&family=Red+Rose:wght@300&display=swap");
html * {
  box-sizing: border-box;
  overflow: hidden;
}
body {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.headHero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../src//images/undraw_wedding_t1yl.svg");
  background-color: linen;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;

  .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    filter: grayscale(50%);
  }

  .wraperLeft {
    width: 200px;
    height: 320px;
    background-image: url("../src/images/wed2.png");
    background-repeat: no-repeat;
    background-position: center center;
    // filter: grayscale(100%);
  }
  .wraperRight {
    width: 200px;
    height: 320px;
    background-image: url("../src/images/wed3.png");
    background-repeat: no-repeat;
    background-position: center center;
    // filter: grayscale(100%);
  }

  .textBox {
    height: 200px;
    text-align: center;
  }
  .bigTitle {
    font-size: 100px;
    color: lightcoral;
    // font-family: "Allura", cursive;
    font-family: "Parisienne", cursive;
    span {
      color: cornflowerblue;
    }
  }
  .subText {
    color: lightcoral;
    font-size: 25px;
    font-family: "Red Rose", cursive;
    position: relative;
    top: -20px;
  }
  @media (max-width: 480px) {
    background-image: url("./images/bg3.jpg");
    background-size: cover;
    .bigTitle {
      font-size: 60px;
      span {
        color: crimson;
      }
    }
    .subText {
      font-size: 20px;
      color: #fff;
    }
  }
}
